[submodule "gdextension/godot-cpp"]
	path = gdextension/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "gdextension/doctest"]
	path = gdextension/doctest
	url = https://github.com/doctest/doctest.git
